<div class="modal-header">
    <h3>Create A New TODO List</h3>
</div>
<form name="form.listForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Todo List Title</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
            <p ng-show="form.listForm.name.$invalid && !form.listForm.name.$pristine" class="help-block">Title is required.</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.listForm.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>